@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh;
    margin: 5vh;
}

.container h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.queryForm {
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 1rem;
}

input {
    width: 100%;
    height: 3rem;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 1rem;
    /* margin-bottom: 1rem; */
}

input:focus {
    outline: none;
}

button {
    /* width: 100%; */
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 8px 20px;
}

ul {
    width: 100vh;
    margin-top: 2rem;
    padding: 0;
}

ul li {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1vh 0;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #f8f8f8;
}

ul li a {
    display: block;
    padding: 1rem 1.5rem;
    /* text-decoration: none; */
    color: #333;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul li a:hover {
    color: #555;
}
